# vim: filetype=bash

alias ls="exa --icons --color=always"
alias ll="exa --icons -alhg --color=always --git"

alias find="fd"
alias grep="rg"
alias du="dust"

grep_opts="--color=auto -n "
# alias grep="grep $grep_opts"
alias findf="grep $grep_opts "
alias findgo="grep $grep_opts -t go "
alias findjs="grep $grep_opts -t js "
alias findphp="grep $grep_opts -t php "
alias findpy="grep $grep_opts -t py "
alias findrb="grep $grep_opts -t rb "
alias findrs="grep $grep_opts -t rust "

alias rmpyc="find -e pyc -I | xargs rm "
alias rmpyo="find -e pyo -I | xargs rm "
alias rmpycache="find -t d -I __pycache__ | xargs rm -rf"
